<div class="commitment">
        <ul class="commitment-ul">
            <li>
                <div class="li-icon">
                    <span class="icon-genuine"/>
                </div>
                <div class="li-content">
                    <p><span>100% Sản Phẩm Chính Hãng</span><br/>hơn 100 thương hiệu nổi tiếng</p>
                </div>
            </li>
            <li>
                <div class="li-icon">
                    <span class="icon-trade1"/>
                </div>
                <div class="li-content">
                    <div><span>1 Đổi 1 Trong Vòng 1 Tháng</span>
                        <span class="li-content-note">(Tùy sản phẩm)</span>
                        <br/>Tại 29 Cửa Hàng Trên Toàn Quốc</div>
                        <a href="#" class="txt-link">Xem chi tiết</a>
                </div>
                
            </li>
            <li>
                <div class="li-icon">
                    <span class="icon-deliveryfree"/>
                </div>
                <div class="li-content">
                    <div><span>Miễn phí giao hàng</span><br/>Cho Đơn Từ 500.000đ Trong 10km Đầu Tiên</div>
                    <a href="#" class="txt-link">Xem chi tiết</a>
                </div>
                
            </li>
        </ul>

      
    </div>