

 <footer class="footer">
        <section>
            <div class = "footer-box">

                <div class="footer-box-1">
                    <p class="box--title">TỔNG ĐÀI</p>
                    <div class="box-1-content">
                        <p>
                            <span>Gọi mua:</span>
                            <a href="tel:1900866874">1900.866.874</a>
                            (7:30 - 22:00)
                        </p>
                        <p>
                            <span>Khiếu nại:</span>
                            <a href="tel:1900866894">1900.866.894</a>
                            (8:00 - 21:30)
                        </p>
                    </div>
                    <p class="box-1-link-title">Kết nối với chúng tôi</p>
                    <div class="box-1-contact">
                        <a href="#">
                            <span class="iconlogo-fb"></span>
                        </a>
                        <a href="#">
                            <span class="iconlogo-ub"></span>
                        </a>
                    </div>
                </div>

                <div class="footer-box-2">
                    <p class="box--title">HỆ THỐNG CỬA HÀNG</p>
                    <div class="box--content">
                        <p>
                            <a href="#"><span>Hệ thống 30 cửa hàng</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Nội quy cửa hàng</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Chất lượng phục vụ</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Chính sách đổi trả, bảo hành</span></a>
                        </p>
                    </div>
                </div>
                <div class="footer-box-3">
                    <p class="box--title">HỖ TRỢ KHÁCH HÀNG</p>
                    <div class="box--content">
                        <p>
                            <a href="#"><span>Điều kiện giao dịch chung</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Hưỡng dẫn mua hàng online</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Chính sách giao hàng</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Chính sách thanh toán</span></a>
                        </p>
                    </div>
                </div>
                <div class="footer-box-4">
                    <p class="box--title">VỀ AVAKIDS</p>
                    <div class="box--content">
                        <p>
                            <a href="#"><span>Giới thiệu công ty</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Chính sách bảo mật công ty</span></a>
                        </p>
                        <p>
                            <a href="#"><span>Xem bản mobile</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class = "footer-mkt">
                <a href="#">
                    <i class="iconlogo-bct"></i>
                </a>
                <a href="#">
                    <img class="iconlogo-cert" src="~/img/handle_cert.png"/>
                </a>
                <a href="#">
                    <i class="iconlogo-dmca"></i>
                </a>
            </div>
            <p class="copyright">
            © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. 
            <br/> 
            Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@avakids.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. 
            </p>
        </section>
        <div class="footer-bot">
            <p class="footer-bot-title">Ghé thăm các website khác cùng tập đoàn MWG</p>
            <ul class="footer-bot-logo">
                <li>
                    <a href="#"> <i class="iconlogo-avasport"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-avafashion"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-avaji"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-avacycle"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-topzone"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-bhx"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-tgdd"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-dmx"></i></a>
                </li>
                <li>
                    <a href="#"> <i class="iconlogo-ntak"></i></a>
                </li>
            </ul>
        </div>
    </footer>