<header>
        <div class="header-item">
            <section>
                <a class="top-header" href="#">
                    <img class="topbardesk" src="~/img/TopBarDesk-1200x44-2.png"/>
                </a>
            </section>
        </div>
        <div class="header-main">
            <section class="section-top">
                <a href="#" class="header-logo">
                    <span class="icon-logo-newsversion "></span>
                </a>
                <form class="header-search">
                    <input class="search-input" type="text" name="search" id="search" placeholder="Tìm sản phẩm, nhóm hàng, hãng..."/>
                    <button class="submit-search" >
                        <span class="icon-search"></span>
                    </button>
                    <div  class="searchlist-result">
                        <ul id="result">
                        </ul>
                    </div>
                </form>
                <div class="box-right">
                    <a href="#" class="box-right-cart">
                        <span class="icon-cart"></span>
                        <span class="box-cart-txt">Giỏ hàng</span>
                    </a>
                    <a href="#" class="box-right-hotline">
                        Hotline (7h30 - 22h00)<br/>
                        <span>1900 866 874</span>
                    </a>
                    <span class="box-right-space"></span>
                    <a href="#" class="box-right-txt">

                        <span>CẨM NANG <br/> MẸ VÀ BÉ</span>
                    </a>
                </div>
            </section>
            <section class="section-bot">
                <nav class="header-menu">
                    <ul class="list-menu">
                        <li>
                            <a href="#">
                                <span>SỮA, THỨC UỐNG</span>
                            </a>
                            <div></div>
                        </li>
                        <li>
                            <a href="#">
                                <span>TÃ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>THỰC PHẨM</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>MĨ PHẨM, CHĂM SÓC MẸ VÀ BÉ</span>
                            
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>LÀM ĐẸP</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>ĐỒ DÙNG</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>THỜI TRANG</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>ĐỒ CHƠI, DỤNG CỤ HỌC TẬP</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>