  <div class="comment-list">
        <b class="cmt-title">Hỏi đáp về </b>
        <textarea class="cmt-text" name="txtContent" rows="1" maxlength="1000" required="required" placeholder="Mời bạn bình luận hoặc đặt câu hỏi"></textarea>
    </div>