
<ul class="policy">
                <li class="trade">
                    <div class="iconl">
                        <i class="icon-trade"></i>
                    </div>
                    <p>Không áp dụng đổi trả, bảo hành (Không bao gồm xe đồ chơi điều khiển) <a href="#">Xem chi tiết</a></p>
                </li>
                <li class="">
                    <div class="iconl">
                        <i class="icon-delivery"></i>
                    </div>
                    <p>Miễn phí giao hàng đơn từ 500.000đ trong 10km đầu tiên</p>
                </li>
                <li class="trade">
                    <div class="iconl">
                        <i class="icon-cod"></i>
                    </div>
                    <p>Giao hàng thu tiền, thanh toán online nhiều phương thức</p>
                </li>
                <li class="trade">
                    <div class="iconl">
                        <i class="icon-headphone"></i>
                    </div>
                    <p>Tổng đài: <a href="tel:1900866874"> 1900.866.874</a><br> (7h30 - 22h00)</p>
                </li>
            </ul>