@model ProductsModel
@using _188217_BaiTap2.Views.Shared.Components.ViewProducts;
@{
    ViewData["Title"] = "Home Page";

  
    var productDetail = Model;
}

<section>

    <ul class="breadcrumb">
        <li><a>Đồ chơi</a><span> > </span> </li>
        <li><a> Đồ chơi Lego</a></li>
    </ul>
    <div class="detail">
        <div class="detail-left">
            <partial name="~/Views/Shared/Partial/ProductDetail/_Carousel.cshtml" model="productDetail"/>
            <partial name="~/Views/Shared/Partial/ProductDetail/_Article.cshtml" model="productDetail"/>
           
        </div>
        <div class="detail-right">
            <partial name="~/Views/Shared/Partial/ProductDetail/_ProductInfor.cshtml" model="productDetail"/>
            <partial name="~/Views/Shared/Partial/ProductDetail/_Policy.cshtml" />
            <partial name="~/Views/Shared/Partial/ProductDetail/_InforItem.cshtml" model="productDetail"/>
           
        </div>
    </div>
   
   
    
    @await Component.InvokeAsync("ViewProducts")
          
       
    <partial name="~/Views/Shared/Partial/ProductDetail/_Comment.cshtml" />


    
</section>

<partial name="~/Views/Shared/Partial/_Commitment.cshtml"/>






 
      
   