@model List<ProductsModel>
@{
    var products = Model;
}

<div class="other-products">
        <p class="other-products-title">Đồ chơi khác</p>
        <div class="box-products">
         
            @foreach (var product in products)
            {
                 @await Component.InvokeAsync("ViewProduct",  product)
                 
            }
            
            
        </div>
    </div>


